.addProduct__container {
  flex: 1 1 80%;
}

.addProduct__basicInfoFieldset {
  margin: 2vw;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(63,63,68,0.5)
}

.addProduct__subFormContainer {
  display: flex;
  flex-direction: column;

}

.addProduct__label {
  display: flex;
  flex-direction: column;
  padding: 0 2vw;
}


.media__URLoptions {

  display: none;

}

.variants__options {

  /* display: none; */

}

.SEO__options {

  /* display: none; */

}